.addguests {
  padding: 0px;
}

.addguests > div {
  width: 190px;
}

.drp-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.drp-header {
  display: flex;
  cursor: pointer;
  width: 190px;
  height: 20px;

  padding: 6px 5px;
  /* font-family: ; */
  /* font-size: 14px; */
  /* font-weight: 550; */

  line-height: 1.42857143;
  color: #39566b;
  background-color: #fff;
  background-image: none;
  
  border: 1px solid #ccc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.drp-header > div > p {
  margin-top: 0px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 550;
}

.drp-list {
  /* box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.075) !important; */
  /* box-shadow: 2px 2px 2px -1px #39566b; */
  box-shadow: 0 0 6px #404050 !important;

  width: 175px;
  margin-top: 35px;
  justify-content: space-between;
  background-color: white;
  /* background-color: #39566b; */
  /* background-color: #ebf1f6; */

  font-size: 16px;
  /* border: 1px solid #ccc; */
  border: 1px solid #8798ad;
  border-radius: 4px;

  position: absolute;
  z-index: 100;
}
.drp-list > label {
  font-weight: normal;
  margin-left: 10px;

  /* color: #fff; */
  /* color: #39566b; */
}
.drp-list-adults-input{
  display: flex;
  width: 140px;
  margin-left: 10px;
  margin-bottom: 10px;
  /* padding-left: 10px; */

  /* border: solid red 1px; */
}
.drp-list-adults-input>button{
  margin: 0;
  height: inherit;
  border-radius: 0;
  /* font-size: 18px; */
  font-weight: 600; 
}
.drp-list-adults-input>button:first-of-type{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.drp-list-adults-input>button:last-of-type{
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.drp-list-adults-input > input {
  /* width: 140px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 10px; */

  padding-left: 10px;
  border-radius: 0px;
  outline-width: 0;
  width: 100%;
  /* width: 90px; */
}

.drp-list > div > div > select {
  width: 140px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding-left: 3px;
}

.remove {
  color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}

.close_button{
text-align: center;
}

@media (max-width: 850px) {
  .addguests > div {
    /* width: 190px; */
    width: auto;
  }
  
  .drp-header {
    width: 410px;
    /* width: 450px; */
    border-radius: 5px;
  }
  
  .drp-list {
    width: 420px;
    /* width: 460px; */
  }

  .drp-list-adults-input{
    width: 385px;
    /* border: solid red 1px; */
  }

  .drp-list > div > div > select {
    width: 380px;
    /* width: 420px; */
  }  
} 
