/*#region header section*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* background-color: white; */
  /* background-color: rgb(255,227,190); */
  /* background-color: #39566b; */
  /* background-color: rgb(218, 158, 118); */

  z-index: 100;
  width: 100%;
  /* box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75); */
  box-shadow: 0px 1px 13px -9px rgba(0, 0, 0, 0.75);
  /* box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.075) !important; */

  /* border: solid blue 1px; */

}

.header__icon {
  /* float: left; */
  /* object-fit: contain; */
  /* height: 50px; */
  margin-left: 20px;
  width: 8vw;

  /* border: solid green 1px; */
}
.header__icon_img {
  height: 50px;
}


.header__center {
  display: flex;
  /* flex: 1; */
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  /* height: 30px; */

  /* border-radius: 999px; */
  /* border: 1px solid blue; */
}

.header__right {
  /* float: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;  
  /* width: 8vw; */
  margin-right: 20px;
    
  /* border: solid green 1px; */
}
/*#endregion header section*/

/*#region home section /////////////////////////*/
.home__section {
  padding: 0px;
  /* border: solid 1px #828d96; */
}

section {
  display: flex;
  align-self: flex-start;
  align-content: center;
  justify-content: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

.home__section > form > section > div > input {
  width: 235px;
  padding: 6px 10px;
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline-width: 0;
}

.btn-search {
  color: #fff;
  background-color: #39566b;
  border-color: #39566b;

  height: 33px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: medium;
  margin-top: 0px;
  margin-left: 10px;
}
.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active,
.open > .dropdown-toggle.btn-search {
  color: #fff;
  background-color: #253a49;
  border-color: #253a49;
}
/*#endregion home*/

/*#region media_1 1050*/
@media (max-width: 1050px) {
  .header {
    padding: 0px;
    justify-content: center;
  }

  .header__icon {
    position: absolute;
    margin-left: 0px;
    top: 4px;
    left: 20px;
    /* width: fit-content; */
  }
  .header__icon_img {
    height: 44px;
  }
    
  .header__center {
    margin-top: 55px;
    padding: 0px;
  }

 .header__right {
   position: absolute;
    margin-right: 0px;
    top: 10px;
    right: 30px;
    /* width: 20vw; */
  }
}
/*#endregion media_1 1050*/

/*#region media_2 850*/
@media (max-width: 850px) {
  /* .header {
    padding: 0px;
    position: unset;
    justify-content: center;
  } */

  /* .header__icon {
    margin-left: 0px;
    position: absolute;
    top: 4px;
    left: 20px;
  } */

  .header__center {
    margin-top: 50px;
    /* padding: 0px; */
  }

  .header__right {
    /* position: absolute;
    margin-right: 0px;
    top: 10px; */
    /* right: 50px; */
  }

  section {
    flex-direction: column;
    align-items: center;
  }

  .home__section > form > section > div {
    padding: 2px;
  }

  .home__section > form > section > div > input {
    margin-left: 0px;
    padding-left: 5px;
    width: 405px;
    border-radius: 5px;
  }

  .btn-search {
    width: 422px;
    border-radius: 5px;
    margin: 0px;
  }
}
/*#endregion media_2 850*/

/*#region media_3 450-mob*/
@media (max-width: 450px) {
  /* @media (max-width: 510px) { */
  .header {
    position: unset;

    margin-left: 10px;
    /* padding-left: 10px; */

    /* justify-content: left; */
    width: fit-content;
    /* overflow: hidden; */

      
  /* padding-left: 10px; */


/* border: solid blue 1px; */
  }

  .header__right {
    float: right;
     right: 0px;
   }
 
}
/*#endregion media_3 450-mob*/